html,
body {
    font-family: "Architects Daughter", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container {
    height: 100%;
    position: absolute;
    display: block;
    width: 342px;
    float: left;
    font-family: "Architects Daughter", sans-serif;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
}

input {
    font-size: 12px;
    font-family: "Architects Daughter", sans-serif;
    color: #ddaa44;
}

h1 {
    color: #ddaa44;
    font-family: "Architects Daughter", sans-serif;
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
}


}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
a img {
    display: block;
    float: left;
    margin-left: 0px;
}


.card {
  text-align: center;
  background: none;
    padding-bottom: 14.5px;
}

.column {
  float: right;
  width: 52%;
 background: none;
    padding-bottom: 14.5px;
}
h3 {
    font-size: 20px;
    font-family: "Architects Daughter", sans-serif;
    line-height: normal;
}
p {
    font-size: 14px;
    font-family: "Architects Daughter", sans-serif;
    line-height: normal;
}

a {
    border: none;
    display: block;
    padding: 8px 8px;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: tan;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

#map {
    width: 82%;
    height: 100%;
    left: 350px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    font-family: "Architects Daughter", sans-serif;
}

.options-box {
    font-family: "Architects Daughter", sans-serif;
    color: #ddaa44;
    background: #fff;
    border-radius: 3px;
    height: 100%;
    line-height: 35px;
    padding: 10px 10px 30px 10px;
    text-align: left;
    width: 340px;
    box-shadow: 5px 5px 12px rgba(53, 0, 0, 0.3);
}

.gm-style div {
    box-shadow: none !important;
    border: 0 !important;
    background: transparent !important;
}

div.info-card {
    background: #fff !important;
    border-radius: 6px;
    box-shadow: 2px 2px #cdcfd8 !important;
    font-family: "Architects Daughter", sans-serif;
    font-weight: 400;
    width: 372px;
}

div.info-card-top {
    align-items: center;
    background: darkgrey !important;
    border-radius: 0 6px;
    color: #fff;
    display: flex;
    padding: 1px;
}

img.info-card-image {
    border: 6px solid white;
    border-radius: 999px;
    margin-right: 12px;
    margin-left: -40px;
}

.info-card-heading {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.info-card-bottom p {
    color: #88888c;
    font-size: 12px;
    line-height: 2;
    padding: 24px;
}

.gm-style .gm-style-iw,
.gm-style .gm-style-iw div {
    overflow: visible !important;
}

.gm-style .gm-style-iw + div {
    display: none !important;
}
